{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="container-fluid ">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <form class="layui-form layuimini-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label required">昵称</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" lay-verify="required" placeholder="请输入昵称"  value="{$userInfo.username}" class="layui-input">
                                <tip>此昵称作为登录账号使用，必填！</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-block">
                                <input type="text" name="email" placeholder="请输入邮箱地址"  value="{$userInfo.email}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-block">
                                <input type="text" name="phone" placeholder="请输入手机号码"  value="{$userInfo.phone}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">登陆IP</label>
                            <div class="layui-input-block">
                                <input type="text" name="ip" value="{$userInfo.login_ip}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">最后登陆</label>
                            <div class="layui-input-block">
                                <input type="text" name="time"  value="{$userInfo.login_time}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上次登陆</label>
                            <div class="layui-input-block">
                                <input type="text" name="lasttime" value="{$userInfo.last_login_time}" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">保 存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form', 'miniTab', 'jquery'], function () {
        let form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            miniTab = layui.miniTab;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('{:url("/admin/update")}', data.field, function (res) {
                if (res.code) {
                    layer.msg(res.msg, {icon: 6});
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            })

            return false;
        });

    });
</script>

{/block}
