{extend name='public/base' /}
{block name='css'}
{include file='public/bootstrap' /}
{/block}

{block name='body'}
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">筛选</label>
                <div class="layui-input-inline">
                    <select name="type" lay-filter="typeFilter">
                        {foreach $typeList as $key => $val}
                        <option value="{$key}" {if ($type === $key)}selected{/if}>{$val}</option>
                        {/foreach}
                    </select>
                    {$type}
                </div>
            </div>
        </form>
        <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even lay-data="">
            <thead>
            <tr>
                <th lay-data="{field: 'id', title: '编号',}"></th>
                {if ($type === 0)}
                <th lay-data="{field: 'images', title: '房间图片', edit: 'text'}"></th>
                <th lay-data="{field: 'image_time', title: '拍照时间'}"></th>
                <th lay-data="{field: 'description', title: '描述'}"></th>
                {elseif ($type === 1) /}
                <th lay-data="{field: 'crack_area', title: '裂缝区域'}"></th>
                <th lay-data="{field: 'crack_sum', title: '裂缝数量'}"></th>
                <th lay-data="{field: 'crack_images', title: '裂缝图片'}"></th>
                <th lay-data="{field: 'crack_image_time', title: '拍照时间'}"></th>
                <th lay-data="{field: 'crack_description', title: '裂缝描述'}"></th>
                {elseif ($type === 2) /}
                <th lay-data="{field: 'refuse_images', title: '无法进入图片'}"></th>
                <th lay-data="{field: 'refuse_image_time', title: '拍照时间'}"></th>
                <th lay-data="{field: 'refuse_reason', title: '原因'}"></th>
                {/if}
                <th lay-data="{field: 'create_time', title: '创建时间'}"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
{/block}

{block name='js'}
<script>
    layui.use(['jquery', 'layer', 'table', 'form'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            form = layui.form;

        let option = { icon: 0 };

        let tableOptions = {
            url: '{:url("/investigation/index", ["area_id" => $area_id, "house_id" => $house_id])}',
            id: 'currentTable',
            title: '排查表',
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.data,
                    'count': res.total
                }
            },
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line',
            even: true,
        }
        table.init('currentTableFilter', tableOptions)

        let reloadTable = function (params = {}) {
            //执行搜索重载
            table.reload('currentTable', {
                page: {
                    curr: 1
                },
                where: params
            }, false);
        }

        form.on('select(typeFilter)', function (data) {
            console.log(data)
            tableOptions.toolbar = true
            reloadTable({ type: data.value })
        })
    })
</script>
{/block}
